::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgba(255,255,255,0.8);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  0.8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  0.8;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}
.content-container {
	/*min-width:1000px;*/
	box-shadow: 0 0 20px 10px rgb(213,213,213);
	float:left;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color:white;
	height:620px;
	margin-top:20px;
	font-weight:200;
	padding-top:30px;
}
.libraryHeader{
	border-bottom:1px solid rgb(135,135,135);
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 5px;
	font-size: 20px;
	color: rgb(135,135,135);
}
.login-container{
	background-color:rgb(0,165,183);
	height:361px;
	width:405px;
	margin:auto;
	color:white;
}
.register-container{
	background-color:rgb(0,165,183);
	height:450px;
	width:70%;
	margin:auto;
	color:white;
}
.login-title{
	border-bottom:1px solid white;
	margin:auto;
	padding-top:30px;
	font-size:36px;
	font-style:italic;
}
.login-title span{
	float:right;
	font-size:14px;
	cursor:pointer;
}
.login-title p{
	width:50%;
}
.row{
	margin:auto;
	width:70%;
	margin-top:15px;
	float:none;
}
.row input{
	width:100%;
	color:white;
	margin-top:8px;
	font-size:16px;
	background-color:rgb(0,130,143) !important;
	border:none;
	height:28px;
}
.row p{
	margin:0;
	padding:0;
}
.row button{
	width:100%;
	border:solid white 2px;
	background-color:rgb(255,134,36);
	color:rgb(70,70,70);
	margin-top:15px;
	height:35px;
	font-size:21px;
}
.row .password{
	float:right;
	color:rgb(70,70,70);
	font-weight:200;
	cursor:pointer;
}
.register{
	margin-top:12px !important;
}
.error{
	margin-top:0px !important;
	color:red;
	font-size:14px;
	height:20px;
	text-align: center;
}
.leftRowContainer{
	width:50%;
	float:left;
	padding-right:2%;
	margin-top:15px;
}
.rightRowContainer{
	width:50%;
	float:left;
	padding-left:2%;
	margin-top:15px;
}
.semiLeft{
	width:25%;
	float:left;
	padding-right:2%;
}
.semiRight{
	width:25%;
	float:left;
}
.semiLeft button{
	font-size:18px;
	padding-left:2%;

}
.chosen-container{
	font-size:12px;
	margin-top: 7px;
	width: 140px !important;

}
.chosen-results{
	margin:0 !important;
	padding:0 !important;
}
.chosen-single{
	height:27px !important;
	background-color:rgb(0,130,143);
	color:rgba(255,255,255,0.8) !important;
	border:none !important;
}
.active-result{
	color:white;
	font-size:10px;
	border-top: 2px solid rgb(0,167,183);
	background-color:rgb(0,130,143) !important;
	width:100%;
	padding:0px !important;
}
.highlighted{
	opacity:0.8;
}
.chosen-drop{
	border:none !important;
	padding:0 !important;
	margin:0 !important;
}