* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
body {
	background-color: rgb(234,234,234);;
}
#header-container{
	background-color:white;
	width:100%;
	height:100px;
}
#header-container div{
	float:left;
}
#logo{
	margin-top:20px;
}
#logo img{
	height:60px;
	margin:auto;
}
#pageHeader{
	margin-top: 36px;
	margin-left: 25px;
	font-size: 20px;
	color: rgb(87,87,87);
}

#pageHeader span{
	font-size:12px;
	font-weight:100;
}
#headerMenu{
	float:right !important;
	height:100%;
	font-weight: 100;
	margin-right:5%;
}
#headerMenu div{
	background-color:white;
	color:black;
	margin-left: 1px;
	height: 80%;
	padding-top: 33px;
	padding-left: 10px;
	padding-right: 10px;
}

#headerMenu #separator{
	font-size: 40px;
	margin: 0;
	padding-top: 18px;
	color: rgba(124, 124, 124, 0.5);
	font-weight: 100;
}
#headerMenu #helpIcon{
	padding-right:0px;
	margin-left:35px;
}
a {
	text-decoration:none;
}
/* unvisited link */
a:link {
    color:rgb(82,82,82);
}

/* visited link */
a:visited {
    color:rgb(82,82,82);
}

/* mouse over link */
a:hover {
    color:rgb(82,82,82);
}

/* selected link */
a:active {
    color:rgb(82,82,82);
}
#headerMenu .currentHeader{
	background-color:rgb(0,167,183);
	color:white;
	border-radius:0px 0px 2px 2px;
}
#headerMenu .currentHeader a{
	color:white;
}
#logout a{
	color:rgb(210,82,109);
}
::-moz-scrollbar{
	background-color:red;
}
::-webkit-scrollbar {
    width: 10px;
    background-color:rgba(0,0,0,0);
}
 
::-webkit-scrollbar-track {
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color:rgb(194,194,194);
}

scrollbar,#scrollbar,.scrollbar
{background: red !important;
-moz-appearance: none !important;}

scrollbar,#scrollbar,.scrollbar thumb
{background: yellow !important;
-moz-appearance: none !important;}

scrollbar,#scrollbar,.scrollbar
{background: yellow !important;
-moz-appearance: none !important;}
