<link rel="stylesheet" href="stylesheets/create.css">
<div class="content-container">
	<div class="left-container">
		<div class="row errorMessage" ng-show="pageError">Add a Page or Create a New One <a href="/#/pagebuilder">here</a></div>
		<div class="row pages">
			<div class="pages-container" >
				<section ng-repeat="page in propInfo.pages track by $index" 
						 class="page" 
						 ng-show="$index===currentPage">
					<div class="pageHeader elementContainer">
						<span>Page {{currentPage+1}}:{{page.typename}}</span>
						<button class="delete" ng-click="deletePage($index)">DELETE PAGE X</button>
					</div>
					<div class="colorOption elementContainer">
						<div class="insiderColor" ng-show="page.pagesetup.header.exists">
							<div>
								<ui-colorpicker ng-model="page.pagesetup.header.settings.color"></ui-colorpicker>
								<font>Header</br>Color</font>
							</div>
							<div class="imageContainer">
								Image
								<input id="header_{{$index}}_{{currentPage}}_{{page.typename}}" type="checkbox" ng-model="page.pagesetup.header.settings.image"//>
								<label for="header_{{$index}}_{{currentPage}}_{{page.typename}}" ></label>
							</div>
							<div id="dropzone" ng-click="updateImage(0,$index,'header')" dropzone="dropzoneConfig" 
									ng-show="page.pagesetup.header.settings.image">
							</div>     
						</div>
						<div class="insiderColor">
							<div>
								<ui-colorpicker ng-model="propInfo.pages[$index].background.color"></ui-colorpicker><font>Background </br>Color</font>
							</div>
							<div class="imageContainer">
								Image
								<input id="bg_{{$index}}_{{currentPage}}_{{page.typename}}" type="checkbox" ng-model="page.background.image"//>
								<label for="bg_{{$index}}_{{currentPage}}_{{page.typename}}" ></label>
							</div>
							<div id="dropzone" ng-click="updateImage(0,$index,'background')" dropzone="dropzoneConfig" 
									ng-show="page.background.image">
							</div>   
						</div>  
						<div class="insiderColor" ng-show="page.pagesetup.footer.exists">
							<div>
								<ui-colorpicker ng-model="page.pagesetup.footer.settings.color"></ui-colorpicker>
								<font>Footer</br>Color</font>
							</div>
							<div class="imageContainer">
								Image
								<input id="footer_{{$index}}_{{currentPage}}_{{page.typename}}" type="checkbox" ng-model="page.pagesetup.footer.settings.image"//>
								<label for="footer_{{$index}}_{{currentPage}}_{{page.typename}}" ></label>
							</div>
							<div id="dropzone" dropzone="dropzoneConfig" ng-show="page.pagesetup.footer.settings.image"
							ng-click="updateImage(0,$index,'footer')">
							</div>
						</div>
					</div>
					<div ng-repeat="head in page.pagesetup.heading track by $index" class="elementContainer">
						<div class="elementHeader">HEADING {{$index+1}}</div>
						<div class="textEditor">
							<div class="elem">
								<font class="smallFont" 
									  ng-click="head.settings.size=14"
									  ng-class="{elemSelected:(head.settings.size==14)}">hi</font>
								<font class="mediumFont" 
									  ng-click="head.settings.size=18"
									  ng-class="{elemSelected:(head.settings.size==18)}">hi</font>
								<font class="largeFont" 
									  ng-click="head.settings.size=22"
									  ng-class="{elemSelected:(head.settings.size==22)}"> hi</font>
							</div>
							<div class="elem">
								<font class="boldFont" 
									  ng-click="head.settings.bold=!head.settings.bold"
									  ng-class="{elemSelected:head.settings.bold}">B</font>
								<font class="italicFont" 
									  ng-click="head.settings.italic=!head.settings.italic"
									  ng-class="{elemSelected:head.settings.italic}">B</font>
								<font class="underlineFont" 
									  ng-click="head.settings.underline=!head.settings.underline"
									  ng-class="{elemSelected:head.settings.underline}"> B</font>
							</div>
							<div class="elem"><ui-colorpicker ng-model="head.settings.color"></ui-colorpicker>
							</div>
							<div class="selectorEditor"> 
								<select chosen 
										disable-search="true"
        								ng-model="head.settings.font"
        								ng-options="fontName for fontName in fonts"
										>
									<option value=""></option>
								</select>
							</div>
						</div>
						<input type="text" placeholder="Heading Text" ng-model="head.content">
					</div>    
					<div ng-repeat="textbody in page.pagesetup.textbody track by $index" class="elementContainer">
						<div class="elementHeader">TEXT BODY {{$index+1}}</div>
						<div class="textEditor">
							<div class="elem">
								<font class="smallFont" 
									  ng-click="textbody.settings.size=10"
									  ng-class="{elemSelected:(textbody.settings.size==10)}">hi</font>
								<font class="mediumFont" 
									  ng-click="textbody.settings.size=12"
									  ng-class="{elemSelected:(textbody.settings.size==12)}">hi</font>
								<font class="largeFont" 
									  ng-click="textbody.settings.size=14"
									  ng-class="{elemSelected:(textbody.settings.size==14)}"> hi</font>
							</div>
							<div class="elem">
								<font class="boldFont" 
									  ng-click="textbody.settings.bold=!textbody.settings.bold"
									  ng-class="{elemSelected:textbody.settings.bold}">B</font>
								<font class="italicFont" 
									  ng-click="textbody.settings.italic=!textbody.settings.italic"
									  ng-class="{elemSelected:textbody.settings.italic}">B</font>
								<font class="underlineFont" 
									  ng-click="textbody.settings.underline=!textbody.settings.underline"
									  ng-class="{elemSelected:textbody.settings.underline}"> B</font>
							</div>
							<div class="elem"><ui-colorpicker ng-model="textbody.settings.color"></ui-colorpicker>
							</div>
							<div class="selectorEditor"> 
								<select chosen 
										disable-search="true"
        								ng-model="textbody.settings.font"
        								ng-options="fontName for fontName in fonts"
										>
									<option value=""></option>
								</select>
							</div>
						</div>
						<textarea  id="textBodyId" placeholder="Textbody Text" ng-model="textbody.content">
						</textarea>   
					</div>
					<div ng-repeat="imagearea in page.pagesetup.imagearea track by $index" class="elementContainer">
						<div class="elementHeader">IMAGE {{$index+1}}</div>
						<div id="dropzone" dropzone="dropzoneConfig" 
							ng-click="updateImage($index,$parent.$index,'image')">
						</div>
					</div>
					<div ng-repeat="etc in page.pagesetup.etc" class="elementContainer">
						<div ng-show="etc.assettype == 'table'">
							<div class="elementHeader">TABLE {{$index+1}}</div>
							<div class="textEditor tableEditor">
								<div class="elem">
									<font class="boldFont" 
										  ng-click="etc.settings.bold=!etc.settings.bold"
										  ng-class="{elemSelected:etc.settings.bold}">B</font>
									<font class="italicFont" 
										  ng-click="etc.settings.italic=!etc.settings.italic"
										  ng-class="{elemSelected:etc.settings.italic}">B</font>
								</div>
								<div class="elem"><ui-colorpicker ng-model="etc.settings.color"></ui-colorpicker>
								</div>
								<div class="selectorEditor"> 
									<select chosen 
										disable-search="true"
        								ng-model="etc.settings.font"
        								ng-options="fontName for fontName in fonts">
										<option value=""></option>
									</select>
								</div>
								<div class="input-number">
									<div class="leftInputNumber">
										<input type="text" class="table-title" ng-model="etc.settings.rows" ng-change="updateTable(etc.settings.columns,etc.settings.rows,$index,$parent.$index)"/> 
									</div>
									<div class="rightInputNumber">
										<div ng-click="etc.settings.rows=increaseRow(etc.settings.columns,etc.settings.rows,$index,$parent.$index)">&and;</div>
										<div ng-click="etc.settings.rows=decreaseRow(etc.settings.columns,etc.settings.rows,$index,$parent.$index)">&or;</div>
									</div>
								</div>
								<div class="colrow"><font>Rows{{count}}</font></div>
								<div class="input-number" style="margin-left:20px;">
									<div class="leftInputNumber">
										<input 	type="text" 
												class="table-title" 
												ng-model="etc.settings.columns" 
												ng-change="updateTable(etc.settings.columns,etc.settings.rows,$index,$parent.$index)"/>
									</div>
									<div class="rightInputNumber">
										<div ng-click="etc.settings.columns=increaseCol(etc.settings.columns,etc.settings.rows,$index,$parent.$index)">&and;</div>
										<div ng-click="etc.settings.columns=decreaseCol(etc.settings.columns,etc.settings.rows,$index,$parent.$index)"
											 >&or;</div>
									</div>
								</div>
								<div class="colrow"><font>Columns</font></div>
								<div class="borderSelector">
									<div class="borderInsider">
										<font>Border</font>
									</div>
									<div class="borderInsider checkbox">
										<input id="table_{{$index}}_{{currentPage}}_{{page.typename}}" type="checkbox" ng-model="etc.settings.borderexists"/>
										<label for="table_{{$index}}_{{currentPage}}_{{page.typename}}"></label>
									</div>
									<div class="borderInsider elem colorSelector">
										<ui-colorpicker ng-show="etc.settings.borderexists" ng-model="etc.settings.bordercolor"></ui-colorpicker>
									</div>
								</div>
							</div>
							<div>
								<table class="table"> 
									<tr ng-repeat="row in range(etc.settings.rows) track by $index " style="display:flex">
										<td ng-repeat="col in range(etc.settings.columns) track by $index">
											<input ng-repeat="item in etc.content"
											ng-show="check(item,$parent.$parent.$index,$parent.$index)"
											ng-model="item.text">
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div ng-show="etc.assettype=='box'">
							<div class="elementHeader">BOX {{$index+1}}</div>
							<ui-colorpicker ng-model="etc.settings.background.color"></ui-colorpicker>
						</div>
						<div ng-show="etc.assettype == 'pricing'">
							<div class="elementHeader">PRICING TABLE {{$index+1}}</div>
							<div class="pricingEditor">
								<ui-colorpicker ng-model="etc.settings.color"></ui-colorpicker>
								<select chosen 
										disable-search="true"
        								ng-model="etc.settings.font"
        								ng-options="fontName for fontName in fonts">
										<option value=""></option>
								</select>
							</div>
							<div class="add-package" ng-click="addPackage($parent.$index,$index)">ADD PACKAGE +</div>
							<div class="service-package" ng-repeat="package in etc.settings.pagetext track by $index">
								<div class="delete-package" ng-click="deletePackage($parent.$parent.$index,$parent.$index,$index)" ng-show="$index!=0">X
								</div>
								<div class="pricingHeader">
									<div style=" margin-left: 0; ">
										<p>Name </p>
										<input type="text" class="table-title" ng-model="package.pname">
									</div>
									<div>
										<p>Timeframe</p>
										<input type="text" class="table-timeframe" ng-model="package.ptime">
									</div>
									<div>
									<p>Subtotal</p>
									<input type="text" class="table-subtotal" ng-model="package.psub">
									</div>
								</div>
								<div class="pricingHeader">
									<div class="disTax" ng-show="$index==0">
										<div><div>
											<span>discount($)</span>
											</div>
											<div>
											<input id="saveProp-name" type="text" ng-model="etc.settings.discount"/>
											</div>
										</div>
										<div>
											<div>
												<span>tax(%)</span>
											</div>
											<div>
												<input id="saveProp-name" type="text" ng-model="etc.settings.tax"/>
											</div>
										</div>
									</div>
								</div>
								<div class="subservice" ng-repeat="subservice in package.pservice track by $index">
									<input type="text" class="subservice-name" ng-model="subservice.text">
									<div class="delete-subservice" ng-click="deleteSubservice($parent.$parent.$parent.$index,$parent.$parent.$index,$parent.$index,$index)">x</div>
								</div>
								<div class="add-subservice" ng-click="addSubservice($parent.$parent.$index,$parent.$index,$index)">ADD SUBSERVICE +</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="right-container">	
		<iframe id="preview" seamless ng-show="previewShow"></iframe>
	</div>
	<div id="bottomMenu">
		<div id="pageDirectory">
			<div ng-click="previousPage(propInfo.pages.length)" style="margin-right:4%;">< </div> 
			<div ng-show="beginDots">&nbsp;.&nbsp;.&nbsp;.&nbsp;</div>
			<div ng-repeat="pageNumber in range(5) track by $index" class="numberIndex">
				<div ng-click="selectPage($index+shift)" 
					 ng-show="$index<propInfo.pages.length"
					 ng-class="{pageActive:($index+shift)==currentPage}">{{$index+shift+1}}</div>
				<div ng-click="selectPage($index+shift)" ng-show="$index>=propInfo.pages.length">.</div>
			</div>
			<div ng-show="endDots"  style="margin-left:-8%;">&nbsp;.&nbsp;.&nbsp;.&nbsp;</div>
			<div ng-click="nextPage(propInfo.pages.length)" ng-init="currentPage=0"> > </div>	
		</div>
		<div id="selectPage">
			<select chosen
					ng-model="pageTypeName"
			        data-placeholder="Select a Page"
			        disable-search="true" 
					ng-options="page.typename for page in pageTypes">
					<option value=""></option>
			</select>
			<span class="add-page-button" ng-click="addPage()">+</span>
		</div>
		<div id="generateButton">
			<button id="generate" ng-click="genProposal()">UPDATE PREVIEW</button>
		</div>
		<div id="saveMenu">
			<button id="saveProp" ng-click="saveProposal()">SAVE</button>
			<input id="saveProp-name" type="text" placeholder="name" ng-model="propSaveName">
			<div class="saveConfirm"><p>{{saveConfirm}}</p></div>
		</div>
		<div class='download-pdf'><a href="/pdf/{{pdfFile}}" download="{{pdfFile}}">Download as PDF</a></div>
	</div>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>